@media screen and (max-width: 700px){
  header .container{
    display: flex;
    flex-direction: column;
  }

  .assistir, .informacao {
    margin-top: 5px;
    width: 300px;
  }
}

@media screen and (min-width: 1000px){
  .filme-principal .descricao {
    width: 50%;
  }
}

/* motoG4 */
@media screen and (max-width: 360px){
  h4 {
    margin-bottom: 50px;
  }
}

/* pixel 2 */
@media screen and (max-width: 411px){
  h4 {
    margin-bottom: 50px;
  }
}

/* iPhone 5/SE */
@media screen and (max-width: 359px) and (min-width: 100px){
  h4 {
    margin-top: 30px;
  }
  main .titulo {
    margin-top: 70px;
  }

  .assistir, .informacao {
    margin-top: 20px;
    width: 180px;
  }

  .descricao {
    display: none;
  }
}

/* iPhone 6/7/8 plus */
@media screen and (max-width: 414px){
  h4 {
    margin-bottom: 70px;
  }

}

/* Surface Dou */
@media screen and (max-width: 540px){
  h4 {
    margin-bottom: 70px;
  }

}

/* Surface Dou */
@media screen and (max-width: 289px){
  nav {
    display: none;
  }

}